@import "tailwindcss";

/* @import url("https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); */

:root {
  /* --background: #ffffffba; */
  --background: #f8f8ff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f8ff;
    --foreground: #ededed;
    --font-glacial: "Glacial Indifference", sans-serif;
    --font-dream: "Dream Avenue", serif;
    --font-playfair: "Playfair Display", sans-serif;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* --font-glacial: "Glacial Indifference", sans-serif; */
  font-family: var(--font-glacial);
  /* font-family: "Roboto", sans-serif, Fallback, Arial, Helvetica; */
}
p,
div,
span {
  font-family: var(--font-glacial);
}
h1,
h2 {
  font-family: var(--font-playfair);
}

h3,
h4 {
  font-family: var(--font-dream);
}
/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Optional auto-scrolling animation */
@keyframes scroll-slow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll-slow {
  animation: scroll-slow 40s linear infinite;
}
